/* shared styles */

/* work sans font from google */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

  *{
    font-family: 'Work Sans', sans-serif;
  }
    /* font-size: 1rem; (page e built in 1 rem thake, tai lekhbona)
    font-weight: 400;(page e built in weight - 400 thake, tai lekhbona) */

  .btn-primary{
    
  }

  /* header styles */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav>ul{
    display: flex;
  }

  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
  }

  nav li a{
    text-decoration: none;
    color: #424242;
  }

  nav h3{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
  }

  /* banner-styles */

  .banner-content{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
  }
  .banner-description{
    color:#727272;
  }