/* shared styles */

/* work sans font from google */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

  *{
    font-family: 'Work Sans', sans-serif;
  }
    /* font-size: 1rem; (page e built in 1 rem thake, tai lekhbona)
    font-weight: 400;(page e built in weight - 400 thake, tai lekhbona) */

  .btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: none;
    
  }

  /* header styles */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav>ul{
    display: flex;
  }

  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
  }

  nav li a{
    text-decoration: none;
    color: #424242;
  }

  nav h3{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
  }

  /* banner-styles */

  .banner-content{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
  }
  .banner-description{
    color:#727272;
  }

  .banner img{
    width: 100%;
    margin-top: 50px;
  }

  /* main style */
  main{
    max-width: 1440px;
    margin: 0 auto;
    
  }

  /* teams styles */

  .teams-container{
    margin-top: 85px;
    display: flex;
    align-items: center;
  }

  .teams-images{
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  .teams-content{
    padding: 0px 70px 0px 70px;
  }

  .Quick-list{
    font-weight:500;
    font-size:2.8rem;
    color:#727272;"
  }
  .of-our{
    font-weight:700;
    font-size:2.8rem;
    color: #131313;
  }
 
  .of-our{
    font-weight:700;
    font-size:2.8rem;
    color: #131313;
  }
 
  .Features{
    font-weight:700;
    font-size:2.8rem;
    color: #FF900E;
  }
  .team-description{
    color :#727272;
  }
 

  /* responsive media query */
  /* mobile devices */

  @media screen and (max-width:576px) {
    header{
      padding: 20px;
    }
    nav{
      flex-direction: column;
    }
  }

  @media screen and (min-width:576px) and (max-width: 992px) {
   
    header{
      padding: 50px;
    }

    nav{
      flex-direction: column;
    }
  }